<html lang="en">  
 <head> 
	  
 </head>


 <body>

	<div class="jumbotron center">
		
		<h1>I have a question...</h1>
					
						<p class="text-left">
						How do I see my pins?
								<div class="dropdown" style="float: left;">
								  <button class="btn btn-default">
								  <td><%= link_to "Follow this link to see your pins", pins_path%></td><%= image_tag 'girlhead.jpg' %></button>
								  </button>
								  </ul>
								</div>
						</p><br></br><br></br>
						
					<p class="text-left">
						How do I print my story?
								<div class="dropdown" style="float: left;">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><td><%= image_tag 'boyhead.jpg' %></td>
								    Just press the "Print" key after you create it.
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="Answer" aria-labelledby="dropdownMenu1">
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Details: here's how you do it: text text <br>texttext text texttext text texttext</br>text texttext text texttext <br>text texttext text text</br></a></li>
								  </ul>
								</div>
						</p><br></br><br></br>

					<p class="text-left">
						Who is the illustrator?
								<div class="dropdown" style="float: left;">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><td></td>
								    Here's information about the illustrator
								    <span class="caret"></span>
								  <%= image_tag 'girlhead.jpg' %></button>
									  <ul class="dropdown-menu dropdown-menu-right" role="Answer" aria-labelledby="dropdownMenu1">
									    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Details: text text text text text <br>texttext text text text text text text</br>text text text text texttext <br>text text text text text</br></a></li>
									  </ul>
								</div>
						</p><br></br> <br></br>
	
						<p class="text-left">
						How do I show all my friends my story?
								<div class="dropdown" style="float: left;">
								  <button class="btn btn-default dropdown-toggle" align="left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><td><%= image_tag 'boyhead.jpg' %></td>
								    You can do this on the final page.
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="Answer" aria-labelledby="dropdownMenu1">
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Details: here's how you do it: text text <br>texttext text texttext text texttext</br>text texttext text texttext <br>text texttext text text</br></a></li>
								  </ul>
								</div>
						</p><br></br><br></br>

					<p class="text-left">
						How do I change my settings?
								<div class="dropdown" style="float: left;">
								  <button class="btn btn-default">
								  <td><%= link_to "Follow this link to change your author name and other settings", edit_user_registration_path%></td><%= image_tag 'girlhead.jpg' %></button>
								  </button>
								  </ul>
								</div>
						</p><br></br><br></br>

						** Did we miss something? <%= link_to "Let us know!", contact_path%> **
	</div>
</body>





