<div class="jumbotron" other-color>
  <h1>What's your favorite Disney resort?</h1>
</div>

<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Bay Lake Tower at Disney's Contemporary Resort <br><%= image_tag("logo1BLT.jpg", :alt => "BLT") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Disney's All-Star Movies Resort <br><%= image_tag("logo2ASM.jpg", :alt => "ASM") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Disney's All-Star Music Resort <br><%= image_tag("logo3ASMu.jpg", :alt => "ASMu") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> Disney's All-Star Sports Resort <br><%= image_tag("logo4ASS.jpg", :alt => "ASS") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"> Disney's Animal Kingdom Lodge <br><%= image_tag("logo5AKL.jpg", :alt => "AKL") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6"> Disney's Animal Kingdom Villas - Jambo House <br><%= image_tag("logo6AKVJ.jpg", :alt => "AKVJ") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7"> Disney's Animal Kingdom Villas - Kidani Village<br><%= image_tag("logo7AKVK.jpg", :alt => "AKVK") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8"> Disney's Art of Animation Resort<br><%= image_tag("logo8AOA.jpg", :alt => "AOA") %></br>
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio9" value="option9"> Disney's Beach Club Resort <br><%= image_tag("logo9BC.jpg", :alt => "BC") %></br>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio10" value="option10"> Disney's Beach Club Villas <br><%= image_tag("logo10BCV.jpg", :alt => "BCV") %></br>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio11" value="option11"> Disney's BoardWalk Inn <br><%= image_tag("logo11BWI.jpg", :alt => "BWI") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio12" value="option12"> Disney's BoardWalk Villas  <br><%= image_tag("logo12BWV.jpg", :alt => "BWV") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio13" value="option13"> Disney's Caribbean Beach Resort <br><%= image_tag("logo13CBR.jpg", :alt => "CBR") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio14" value="option14"> Disney's Contemporary Resort  <br><%= image_tag("logo14CR.jpg", :alt => "CR") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio15" value="option15"> Disney's Coronado Springs Resort  <br><%= image_tag("logo15CSR.jpg", :alt => "CSR") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio16" value="option16"> Disney's Grand Floridian Resort &amp; Spa  <br><%= image_tag("logo16GF.jpg", :alt => "GF") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio17" value="option17"> Disney's Old Key West Resort <br><%= image_tag("logo17OKW.jpg", :alt => "OKW") %></br>
</label>
</label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio18" value="option18"> Disney's Polynesian Village Resort  <br><%= image_tag("logo18PVR.jpg", :alt => "PVR") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio19" value="option19"> Disney's Pop Century Resort <br><%= image_tag("logo19PCR.jpg", :alt => "PCR") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio20" value="option20"> Disney's Port Orleans Resort - French Quarter <br><%= image_tag("logo20POFQ.jpg", :alt => "POFQ") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio21" value="option21"> Disney's Port Orleans Resort - Riverside <br><%= image_tag("logo21POR.jpg", :alt => "POR") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio22" value="option22"> Disney's Saratoga Springs Resort &amp; Spa <br><%= image_tag("logo22SSR.jpg", :alt => "SSR") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio23" value="option23"> Disney's Wilderness Lodge <br><%= image_tag("logo23WL.jpg", :alt => "WL") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio24" value="option24"> Disney's Yacht Club Resort <br><%= image_tag("logo24YC.jpg", :alt => "YC") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio25" value="option25"> The Cabins at Disney's Fort Wilderness Resort <br><%= image_tag("logo25FWCab.jpg", :alt => "BWI") %></br>
</label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio26" value="option26"> The Campsites at Disney's Fort Wilderness Resort <br><%= image_tag("logo26FWCam.jpg", :alt => "BWI") %></br>
</label> 
     </label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio27" value="option27"> The Villas at Disney's Grand Floridian Resort &amp; Spa <br><%= image_tag("logo27GFV.jpg", :alt => "GFV") %></br>
</label> </label></label><label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio28" value="option28"> The Villas at Disney's Wilderness Lodge<br><%= image_tag("logo28WLV.jpg", :alt => "WLV") %></br>
</label> 
    
    
    
    
    
    















