

		<% if user_signed_in? %>
		<div class="jumbotron center">
			<h1>I have so many stories to tell...</h1>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Abigail Builds a Train <br><%= image_tag("story1.jpg", :alt => "My first story") %></br>
					</label>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Sammy and the Lemonade Stand <br><%= image_tag("story2.jpg", :alt => "My second story") %></br>
					</label>
					<p></p>

					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Gregory Visits the Dentist <br><%= image_tag("story2.jpg", :alt => "My fourth story") %></br>
					</label>					
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Elsa's New Baby Brother<br><%= image_tag("story1.jpg", :alt => "My third story") %></br>
					</label>
					<p></p>

					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Katie Learns to Read<br><%= image_tag("story1.jpg", :alt => "My third story") %></br>
					</label>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Theo Plants a Vegetable Garden <br><%= image_tag("story2.jpg", :alt => "My fourth story") %></br>
					</label>
				</div>
		

		<%else%>

<div class="jumbotron center">
	
	<div class="row">

		<div class="col-xs-6"><h3>Let's read my stories! <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %></h3></div>
		
		
			
	<div class="col-xs-6"><h3>I'm new here! </br><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %></h3></div>
		
	
</div>
	  </p>

	<%end%>
</div>


