<div class="jumbotron center">

		<% if user_signed_in? %>
		<h1>Here are all my stories...</h1>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Abigail Builds a Train <br><%= image_tag("story1.jpg", :alt => "My first story") %></br>
					</label>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Sammy and the Lemonade Stand <br><%= image_tag("story2.jpg", :alt => "My second story") %></br>
					</label>
					<p></p>

					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Gregory Visits the Dentist <br><%= image_tag("story2.jpg", :alt => "My fourth story") %></br>
					</label>					
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Elsa's New Baby Brother<br><%= image_tag("story1.jpg", :alt => "My third story") %></br>
					</label>
					<p></p>

					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Katie Learns to Read<br><%= image_tag("story1.jpg", :alt => "My third story") %></br>
					</label>
					<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Theo Plants a Vegetable Garden <br><%= image_tag("story2.jpg", :alt => "My fourth story") %></br>
					</label>
		<%else%>


	<h3>Let's read my stories&excl;</h3>
	 	<p>
		<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %></h2>
		
		<h3>I want to create and save my first story</h3>
		<%= link_to "Sign Me Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	

	<%end%>
</div>


