<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
   hello
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
        <ul class="navbar-brand">
          <%= link_to "Home", root_path%>
        </ul>

    </div><!-- /.container -->


    <!-- Collect the nav links, forms, and other content for toggling -->
 
            
            <% if user_signed_in? %>
              
              <li><%= link_to "Help", about_path %></li>

              <li><%= link_to login_path do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Library
                <% end %>
              </li>

              <li><%= link_to new_pin_path do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Story
                <% end %>
                </li>
              
              <li>
              <%= link_to "Quit", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you're all done for today?" }%></li>
            
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>

  </div><!-- /.container-fluid -->
</nav>
  </div>
</nav>
